@media (min-width: 2001px){
	
	.Homepage {
		max-width: none;
		margin-bottom: 18vh;
	}

	.title h1 {
		font-size: 100px;
	}
	
	.title h2 {
		font-size: 65px;
	}
	
	.Homepage p {
		font-size: 50px;
	}

	.download-hyperlink h2{
		font-size: 45px;
		margin-bottom: 30px;
	}

	/* Change layout of features from here*/
	.feature {
		display: block;
	}
	
	.feature-text, .feature img {
		width: 100%;
	}
	
	.feature-text {
		box-sizing: border-box;
	}
	
	.feature-right .feature-text {
		padding-right: 0px;
	}
	
	.feature-left .feature-text {
		padding-left: 0px;
	}
	
	/* to here*/
	
	.feature-link .documentation-link {
		margin-bottom: 10px;
	}

	.feature-text h2 {
		font-size: 56px;
		margin-bottom: 30px;
	}
	
	.feature-description p {
		font-size: 28px;
	}
	
	.feature-link {
		font-size: 22px;
		margin-top: 25px;
	}
	
	.download-hyperlink a{
		border: solid 2px black;
		font-size: 40px;
		padding: 10px 20px;
	}
}

@media (max-width: 2050px){
	.title {
		margin-bottom: 13vh;
	}
}
@media (max-width: 2000px){
	.title {
		margin-bottom: 13vh;
	}
}

@media (max-width: 1367px){
	
	.home {
		max-width: none;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 25px;
		width: 100%;
	}
	
	.Homepage {
		margin-left: 5vh;
		margin-right: auto;
		max-width: 975px;
	}
	
	.title {
		margin-bottom: 23vh;
		margin-left: 2vh;
	}
	.title h1 {
		font-size: 68px;
	}
	
	.title h2 {
		font-size: 49px;
	}
	
	.Homepage p {
		font-size: 41px;
	}
	
	.download-hyperlink h2{
		font-size: 30px;
		margin-bottom: 30px;
	}

	.upper-button a {
		font-size: 24px;
		padding: 7px 16px;
	}

	.bottom-button {
		margin: 150px 0px 50px 0px;
	}
	
}
	
@media (max-width: 1219px){
	
	.home {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.Homepage p {
		margin-bottom: 25px;
	}
	
	.Homepage {
		margin-bottom: 20vh;
	}
	
	.upper-button {
		display: block;
		margin-top: 50px;
	}
	
	/* Change layout of features from here*/
	
	.feature {
		flex-direction: column;
		margin-bottom: 100px;
	}
	
	.feature-text, .feature img {
		width: 100%;
	}
	
	.feature-text {
		box-sizing: border-box;
		margin-bottom: 20px;
	}
	
	.feature-right .feature-text {
		padding-right: 0px;
	}
	
	.feature-left .feature-text {
		padding-left: 0px;
	}
	
	/* to here */
	
	.feature-text h2 {
		font-size: 42px;
		margin-bottom: 10px;
	}
	
	.feature-description {
		margin-bottom: 5px;
	}

	.feature-description:last-child {
		margin-bottom: 0px;
	}

	.feature-description p{
		font-size: 21px;
	}

	.feature-link {
		margin-top: 15px;
	}
	
	.bottom-button {
		margin: 100px 0px 50px 0px;
	}
	
}
	
@media (max-width: 1050px){
	.title{
		margin-bottom: 29vh;
	}
	.title h1 {
		font-size: 42px;
	}
	
	.title h2 {
		font-size: 26px;
	}
	
	.Homepage p {
		font-size: 18px;
		margin-bottom: 25px;
	}
	
	.feature-text h2 {
		font-size: 36px;
		margin-bottom: 7px;
	}
	
	.feature-description p{
		font-size: 18px;
	}
	
	.feature-link {
		font-size: 15px;
		margin-top: 10px;
	}

	.feature-link .documentation-link {
		margin-bottom: 5px;
	}
	
	.download-hyperlink a {
		font-size: 26px;
	}
	
}
	
@media (max-width: 800px){
	
	.title {
		margin-bottom: 30vh;
	}
	.title h1 {
		font-size: 36px;
	}
	
	.title h2 {
		font-size: 23px;
	}
	
	.download-hyperlink h2{
		margin-bottom: 20px;
	}

	.feature-text h2 {
		font-size: 32px;
	}
	
	.bottom-button {
		margin: 50px 0px 50px 0px;
	}
	
}
	
@media (max-width: 670px){
	.home {
		padding-left: 7px;
		padding-right: 7px;
	}
	.download-hyperlink h2{
		font-size: 24px;
		margin-bottom: 20px;
	}

	.upper-button a {
		font-size: 20px;
		padding: 7px 16px;
	}
	
	.download-hyperlink a {
		font-size: 21px;
	}
}

@media (max-width: 400px){
	.title {
		margin-bottom: 25vh;
	}
}

@media (max-width: 298px){
	.title {
		margin-bottom: 26vh;
	}
}